.popupdiv {
	text-align: left;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
}

#popupbg,.popupifra {
	background: #000;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
	opacity: 0.3;
	filter: Alpha(opacity =                       30);
}

.popupifra {
	display: block;
	border: none;
	background: none;
	z-index: 997;
	background-color: transparency;
	filter: Alpha(opacity =                       0);
}

.hidden {
	display: none;
}

.show {
	display: block;
}